@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

:root {
    --bgcolor: #27242c;
    --purple: #985eef;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bgcolor);
}

h1, a, p {
    font-family: 'Poppins', sans-serif;
}

/**/
#initial-container {
    transition: .6s;
}

.hide {
    opacity: 0;
    transform: translateX(-200px);
}
/**/